In [19]:
a = ' "나는" 김태경 입니다 '
print(a)

 "나는" 김태경 입니다

## 첫번째 코드

In [20]:
a = "과일" + "사과"
print(a)

과일사과

In [21]:
a = "과일"*4
print(a)

과일과일과일과일

In [33]:
b = "hi\\ddddddd \\ie\\\d"
print(b)

hi\ddddddd \ie\\d

In [35]:
c = "abcdefghi"
print(c[::3])

adg

In [45]:
d = (1,2,3,4,5,6,7,8,9,10,11,12)
print(d[9:12:2])

(10, 12)

In [70]:
name1 = "JangJu"
name2 = "TaeKyoung"
name3 = 3.232
print("I am %10s vs %s %f" % (name1, name2,name3))

I am     JangJu vs TaeKyoung 3.232000

In [74]:
print(23.423423423423454305804850450348538045345345345345345423333333333333333333333333333)

23.423423423423454

In [77]:
print("I like {0}, {1} !!".format("apple","banana"))

I like apple, banana !!

In [78]:
print("I like {1}, {0} !!".format("apple","banana"))

I like banana, apple !!

In [80]:
print("I like {1}, {2}, {0} !!".format("apple","banana","수박"))

I like banana, 수박, apple !!

In [93]:
math = 95
english = 65423423423423423423423423423423423423.4348503985850430
science = 40
print(f"수학점수: {math} \n영어점수: {english:$^40} \n과학점수: {science}")

수학점수: 95
영어점수: $$$$$$$$$6.542342342342342e+37$$$$$$$$$$
과학점수: 40

In [100]:
word ="Apple banana"

word.index("banana") #문자길이

6

In [103]:
word ="Apple banana"

print(word.upper()) #문자길이
word.upper().lower()

APPLE BANANA

'apple banana'

In [105]:
word ="Apple banana"
print(word.replace("banana","수박"))

Apple 수박